
.root {
    -fx-spacing: 30;
    -fx-background-color: #D0D0D0;
    -fx-padding: 30;
}

.label_12 {
    -fx-font-size: 12px;
}

.label_12_bold {
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}

.button {
    -fx-font-family: "Arial";
    -fx-font-size: 12px;
}

.button:hover {
    -fx-background-color: linear-gradient(#2A5058, #61A2B1);
    -fx-text-fill: #383640
}